.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.main-nav > ul > li {
  list-style: none;
}
